*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.amarillo {
    background-color: #EAC926;
}

/* tipografia */
.tipografia{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #ebebeb;
}



/* HEADER */
header{
    width: 100%;
    height: 30vh;
    position: fixed;
    top: 0;
}

.logo{
    width: 45%;
    animation: aumentar 1s linear infinite alternate;
}

@keyframes aumentar {
    0% {
        transform: scale(0.75);
    }
    100%{
        transform: scale(1);
    }
}

.busqueda{
    width: 30vw;
    padding: 5px;
}

.fa-magnifying-glass{
    background-color: white;
    padding: 5px;
    border: 1px solid black;
}

.lupita{
    width: 50vw;
    margin-right: 5%;
    text-align: right;
}

.formulario-lupita{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-busqueda{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

h3.compraCuotas{
    font-size: 12px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}

.listas{
    display: none;
}

.listas ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.listas a{
    text-decoration: none;
    color: #666;
/*     para poder agregarle relleno */
    display: inline-block;
    padding: 5px 0px;
    font-size: 17px;
}

.burger-menu{
    display: block;
    color: #ffffff;
    background-color: #1259c3;
    display: block;
    max-width: 30px;
    padding: 2px 0px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
/*  para centrar el icono, uso margin */
    margin: auto;
}

/* MAIN */

main{
    margin-top: 30vh;
}

h1{
    padding: 20px 15px;
    margin: auto;
}

.form{
    /* Alejo el formulario de los limites del viewport */
    padding: 20px 15px;
    margin: auto;
}

.control-form{
    /* Separo a los elementos del formulario para que no me queden pegados verticalmente */
    margin-bottom: 15px;
}

.control-form label{
    margin-bottom: 5px;
    display: block;
}

.titulito-formulario{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.comprador-vendedor, .electro, .moda, .hogar, .jugueteria, .vida-sana{
    display: flex;
    justify-content: left;
}

.comprador-vendedor label, .comprador-vendedor input{
    margin-right: 15px;
}

.control-form label{
    margin-right: 15px;
}

.control{
    width: 40%;
    padding: 8px;
}

button{
    background-color: #0ef129;
    border: none;
    font-size: 20px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}

/* FOOTER */

footer{
    margin-top: 150px;
}

footer p {
    font-size: 12px;
}

footer{    
    text-align: center;
}

footer i{
    font-size: 2em;
    margin-bottom: 10px;
    color: #2e66d6;
}

/* COPYRIGHT */ 
.copy-right{
    font-size: 11px;
    margin-top: 30px;
    margin-bottom: 15px;
}



/* Visualizacion en tablets */
@media (min-width: 770px) {
    /* HEADER */
    header{
        height: 30%;
    }
    .burger-menu{
        display: none;
    }
    .header-top-bar{
        display: flex;
        justify-content: space-between;
    }

    .lupita{
        text-align: center;
    }

    .compraCuotas{
        width: 32%;
        text-align: right;
    }

    .listas{
        display: flex;
        justify-content: space-between;
        margin-top: 10vh;
    }
    .listas ul{
        display: flex;
        flex-direction: row;
    }
    .listas li{
        margin: 0 10px;
    }
    /* MAIN */
main{
    margin-top: 30vh;
}
    
}

/* Visualizacion en PC */
@media (min-width: 1200px) {
    /* HEADER */

    header{
        height: 25vh;
    }

    .listas, .header-top-bar{
        display: flex;
 
        margin: auto;
    }

    .header-top-bar{
        align-items: center;
        justify-content: center;
    }

    .logo-busqueda{
        width: 70%
    }

    .compraCuotas{
        width: 30%;
        font-size: 22px;
        font-weight: 400px;
        margin: 0;
    }

    .listas{
        margin-top: 50px;
    }

    .logo{
        width: 250px;
    }
    
    .burger-menu{
        display: none;
    }
    .listas li {
        margin: 0 10px;
    }
    .listas a {
        font-size: 15px;
    }

    /* MAIN */
  
    /* FOOTER */
    footer i:hover{
        color: #EAC926;
    }

    footer i{
        transition: all 450ms;
    }

    footer{
        display: flex;
    }

}
